atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
fake-useragent==0.1.11
Flask==1.0.2
funcsigs==1.0.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.8.0
py==1.10.0
pytest==4.0.1
PyYAML==5.1.1
requests==2.19.1
scandir==1.9.0
six==1.11.0
urllib3==1.23
virtualenv==16.3.0
Werkzeug==0.14.1
